*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

/* NAV */
nav{
    background:#00006b;
    padding:15px;
    position:fixed;
    width:100%;
    z-index:1000;
}

.nav-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h1{
    color:white;
}

/* DESKTOP MENU */
.nav-links{
    display:flex;
    gap:20px;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

/* MOBILE MENU ICON */
.menu{
    display:none;
    font-size:25px;
    color:white;
    cursor:pointer;
}

/* MOBILE MENU */
.mobile-menu{
    display:none;
    flex-direction:column;
    background:#00006b;
    position:absolute;
    top:60px;
    left:0;
    width:100%;
}

.mobile-menu a{
    padding:15px;
    color:white;
    border-top:1px solid #222;
    text-decoration:none;
}

.mobile-menu.active{
    display:flex;
}

/* HERO */
.hero img{
    width:100%;
    height:60vh;
    object-fit:cover;
}

.hero-text{
    position:absolute;
    top:40%;
    left:10%;
    color:#00006b;
text-shadow:-2px -2px 1px white;
}

/* SECTIONS */
section{
    padding:80px 20px;
}

/* FLEX FIX */
.flex{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
}

/* IMAGE FIX */
img{
    max-width:100%;
}

/* CLASS MENU */
.classroom{
    background:#00006b;
    padding:15px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.classroom h4{
    color:white;
    cursor:pointer;
}

.classroom h4:hover{
    color:gold;
}

iframe{
    margin-top:50px;
    padding:20px;
    width:100%;
}
.place{
    margin-top:20px;
}

/* RESPONSIVE */
@media(max-width:768px){

    .nav-links{
        display:none;
    }

    .menu{
        display:block;
    }

    .hero-text{
        position:static;
        text-align:center;
        padding:20px;
    }

    .flex{
        flex-direction:column;
    }
}